<!DOCTYPE html>
<html>
<head lang="en">
  <link rel="stylesheet" href="styles/style-site.css"/>
  <meta charset="UTF-8">
  <title> Мой первый сайт</title>
</head>
<body>

<header class="container">

    <div class="logo">
      
    </div>
</header>

<nav class="menu1">
    <div class="containerinput">
	    <form>
	        <input type="text" placeholder="Searche here .....">
	        <input type="submit" value="GO"> 
	    </form>	
	</div>   	 
</nav>

<section class="main">
		
	<div class="foto">
	
		<div class="telnamber">
		   
		</div>
		
	</div>
	
	<div class="container">
	
		<div class="container3"> 
			<p>Html5</p>
		</div>
		
		<div class="text">
			<h2>What we need to about<br>Html5?
			</h2>	
		</div>
		<div class="post">
			<p>Posted at this my web on Thursday 14 jan 2012 by
			    <a href="">Faizan haider</a>
			</p>
		</div>
		<div class="textall">
			<p>Html5:Everynoe's using it nobody knows what it is. I realize that sounds more like
			a line out of an existential movie maybe Waiting for Godot or a screenplay by Sartre
			han a statement about HTML5. But ......
			</p>
		</div>
		
		<div class="label f" >
			
		</div>
		<div class="label sw">
			
		</div>
		<div class="label w">
			
		</div>
		<div class="square">
		   <a href="">Read more</a>
		</div>
	</div>	
	<div class="container container4">
		<div class="container3"> 
			<p id="col1">CSS3</p>
			
		</div>
		<div class="text">
			<h2>What we need to about<br>CSS3?
			</h2>
		</div>
		<div class="post">
			<p>Posted at this my web on Thursday 14 jan 2012 by
			<a href="">Faizan haider</a>
			</p>
		</div>
		<div class="textall">
			<p>CSS3 offers a huge variety of new ways create an inpact with yor designes, with quite a few important changes. This first tutorial will give you a very basic introduction to the new possibles created by the standard ......
			</p>
		</div>
		
		<div class="label f" >
			
		</div>
		<div class="label sw">
			
		</div>
		<div class="label w">
			
		</div>
		<div class="square">
		   <a href="">Read more</a>
		</div>
	</div>
	<div  class="container square1">
	
	</div>
	<div  class="container square1 square2">
	
	</div>
	<div  class="container square1 square3">
	
	</div>
	<div  class="container square1 square4">
	
	</div>
	<div  class="container square1 square5">
	
	</div>
</section>

<aside class="sidebar">
	
	<div class="adv">
        <div class="div1"></div>
        <div class="div1"></div>
        <div class="div1"></div>
        <div class="div1"></div>
    </div>

	<div class="adv">
		<div class="border marker2 decor" >
			<a class="position6" href="">Today post</a>
			<a class="position6" href="">Older post</a>
			<a class="position6" href="">Top Archives</a>
			<ul>
				<li>
				    <div class="drew"></div>
					<div class="textpost2">	
						<p>Its my personal Desings. Its for Commercial used.</p>
						<p>Posted in <a href="">yourweb</a> on monday 9/11</p> 
					</div>
				    <div class="line" ><hr/></div>
				</li>
				
				<li>
				    <div class="drew"></div>
					<div class="textpost2">	
						<p>Its my personal Desings. Its for Commercial used.</p>
						<p>Posted in <a href="">yourweb</a> on monday 9/11</p>
					</div>
				    <div class="line" ><hr/></div>
				</li>
				
				<li>
				    <div class="drew"></div>
					<div class="textpost2">	
						<p>Its my personal Desings. Its for Commercial used.</p>
						<p>Posted in <a href="">yourweb</a> on monday 9/11</p>
					</div>
				    <div class="line" ><hr/></div>
				</li>
				<li>
				    <div class="drew"></div>
					<div class="textpost2">	
						<p>Its my personal Desings. Its for Commercial used.</p>
						<p>Posted in <a href="">yourweb</a> on monday 9/11</p>
					</div>
				    <div class="line" ><hr/></div>
				</li>				
			</ul>
			<div class="linebord">
			</div>				
		</div> 
					
	</div>
	<div class="adv marker4">
	
	</div>
	
</aside>   
	
<footer class="container">

    <div class="socblock">
	    <h2>Social webs updates</h2>
		<ul>
		    <li class="drewno">
			    <div class="textpost">
			        <p>Faisan Haider Sultan at 
					    <a href="" class="collet"> faceboock</a> 
					</p>
					<p>http://www.faceboock.com/faisen.haider7</p>
					<p class="collet">17 min ago</p>
					<div class="line1">.</div>
				</div>
							
			</li>
			
			<li class="drewno">
			    <div class="textpost">
			        <p>Grafic Dsigner at 
					    <a href="" class="collet"> faceboock</a>
					</p>
					<p>http://www.faceboock.com/faisen.haider7</p>
					<p class="collet">30 min ago</p>	
					<div class="line1">.</div>	
				</div>
			
			</li>
			<li class="drewno">
			    <div class="textpost">
			        <p>Hi pliese vizit our PNP at 
					    <a href="" class="collet"> faceboock</a>
					</p>
					<p>http://www.faceboock.com/faisen.haider7</p>
					<p class="collet">45 min ago</p>
					<div class="line1">.</div>
				</div>
			
			</li>
	    </ul>
    </div>		
	
	 <div class="socblock popblock">
	    <h2>Popular Posts</h2>
		<ul>
		    <li class="drew1">
			    <div class="textpost textpost1">
			        <p>Create a elips pattern & Gradiant in photoshop & Illustrator</p>
					<p><small>Posted in sultan.org on 8 Oct 2011</small></p>
					
			    </div>
				<div class="line2">.</div>
			</li>			
			
			<li class="drew1">
			    <div class="textpost textpost1 textpost3">
				    <p>Create a elips pattern & textpost1Gradiant in photoshop & Illustrator</p>
					<p><small>Posted in sultan.org on 8 Oct 2011</small></p>
                   
				</div>
				<div class="line2 line3">.</div>
			</li>
						
			<li class="drew1">
			    <div class="textpost textpost1"> 
				    <p>Create a elips pattern & Gradiant in photoshop & Illustrator</p>
					<p><small>Posted in sultan.org on 8 Oct 2011</small></p>
			    </div>
				<div class="line2 line4">.</div>
			</li>				
	    </ul>
    </div>		
	
     <div class="socblock sulblock">
	    <h2>About Sultan.org</h2>
		<div class="textpost">
		    <p>Hi my name is <strong>FAISAN HAIDER SULTAN</strong>.Im just a litle bit bigner of grafics designis. I know about all adobe cs5 master+corell Draw.i wont to be professional as a grafix dzigner.</p>
			<br/>
			<br/>
		
		    <p>Hi my name is <strong>FAISAN HAIDER SULTAN</strong>.Im just a litle bit bigner of grafics designis. I know about all adobe cs5 master+corell Draw.i wont to be professional as a grafix dzigner.</p>
		</div>
		<div class="logo2"></div> 
    </div>
	<div class="scroll"></div>
	<div class="scroll scroll2"></div>
	<div class="logo1"></div>
	<div class="container position8">
		    <p class="menu3">Sultan.org 2011, All Rights Reserved</p>
    </div>	
</footer>
</body>
</html>





  










